<div class="event">
   <img alt="{{event.name}}" ng-src="{{event.imageUrl}}" />
   <button class="btn" ng-click="reload()">Reload</button>
   <div class="row">
      <div class="span11">
         <h2 ng-bind="event.name"></h2>
      </div>
   </div>
   <div ng-bind-html="snippet">some title</div>
   <div class="row">
      <div class="span3">
         <div><strong>Date:</strong>{{event.date}}</div>
         <div><strong>Time:</strong>{{event.time}}</div>
      </div>
      <div class="span4">
         <address>
            <strong>Address:</strong><br />
            {{event.location.address}}<br />
            {{event.location.city}}, {{event.location.state}}
         </address>
      </div>
   </div>
   <hr />
   <h3>Sessions</h3>
   Order By:
   <select ng-model="sortorder" class="input-small">
      <option selected value="name">Name</option>
      <option value="-upVoteCount">Votes</option>
   </select>
   Show:
   <select ng-model="query.level" class="input-medium">
      <option selected value="">All</option>
      <option selected value="Introductory">Introductory</option>
      <option selected value="Intermediate">Intermediate</option>
      <option selected value="Advanced">Advanced</option>
   </select>
   <ul class="thumbnails">
      <li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query">
         <div class="row session">
            <upvote upvote="upVoteSession(session)" downvote="downVoteSession(session)" count="session.upVoteCount"></upvote>
            <div class="well span9">
               <collapsible title="{{session.name}}">
                  <h6 style="margin-top:-10px">{{session.creatorName}}</h6><br />
                  <span>Duration: {{session.duration | durations}}</span><br />
                  <span>Level: {{session.level}}</span>
                  <p>{{session.abstract}}</p>
               </collapsible>
            </div>
         </div>
      </li>
   </ul>
</div>

